<section class="dashboard-main">
  <h1> <%= current_user.first_name %>'s Dashboard </h1>

  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
  <h3>Account Details</h3>
  <ul>
    <li> <%= current_user.first_name  %> <%= current_user.last_name %> </li>
    <li> <%= current_user.email%> </li>
  </ul>
  <section>
    <h1>Bookmarked Segments</h1>
  </section>

  <section>
    <% if current_user.github_token != nil %>
      <h1>Github</h1>
      <% facade.user_github_repos.each do |repo| %>
      <ul class="repo">
        <li class="name"><%= link_to repo.name, "#{repo.html_url}" %></li>
      </ul>
      <% end %>
      <section>
        <h2>Followers</h2>
        <% facade.user_github_followers.each do |follower| %>
          <ul class="follower">
            <li class="login"><%= link_to follower.login, follower.html_url %>
              <% if facade.registered_user(follower.login) && !facade.already_friends?(follower.login) %>: <%= button_to 'Add Friend', friendship_index_path(github_nickname: follower.login) %></li>
              <% end %>
          </ul>
        <% end %>
      </section>
      <section>
        <h2>Following</h2>
        <% facade.user_github_following.each do |follow| %>
        <ul class="user">
          <li class="login"><%= link_to follow.login, "#{follow.html_url}" %>
            <% if facade.registered_user(follow.login) && !facade.already_friends?(follow.login) %>: <%= button_to 'Add Friend', friendship_index_path(github_nickname: follow.login) %></li>
            <% end %>
        </ul>
        <% end %>
    <% else %>
      <%= button_to 'Connect to Github', github_login_path, method: :get %>
    <% end %>
  </section>
  <section>
    <h2>Friends</h2>
      <% current_user.friends.each do |friend| %>
      <ul class="friends">
        <li class="github_nickname"><%= friend.github_nickname %></li>
      </ul>
      <% end %>
  </section>
</section>
